C:\Users\cptma\AppData\Local\Packages\CanonicalGroupLimited.Ubuntu18.04onWindows_79rhkp1fndgsc\LocalState\rootfs\home\dinumihai\TSC_LAB\Test.txt
C:\Users\cptma\AppData\Local\Packages\CanonicalGroupLimited.Ubuntu18.04onWindows_79rhkp1fndgsc\LocalState\rootfs\home\dinumihai\TSC_LAB\lab2\work
C:\Users\cptma\AppData\Local\Packages\CanonicalGroupLimited.Ubuntu18.04onWindows_79rhkp1fndgsc\LocalState\rootfs\home\dinumihai\TSC_LAB\lab3\sim